# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
.pnpm-store

# Local env files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
apps/*/.env
apps/*/.env.local

# Next.js
apps/web/.next/
apps/web/out/
apps/web/build/
apps/web/.swc/

# NestJS
apps/api-gateway/dist/
apps/api-gateway/build/

# Testing
coverage

# Turbo
.turbo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Build Outputs
.next/
out/
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Database
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Prisma
prisma/migrations
.prisma